.btn-icon {
  height: 70px;
  width: 380px;
  border-radius: 10px 0 0 10px;
  text-transform: uppercase;
}

.btn-icon-content {
  width: 70px;
  background-color: #ffc700;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  color: #ffff;
  justify-content: center;
}
